/* Add CSS for responsiveness */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

 .form-container label {
    display: block;
    margin-bottom: 5px;
}

 .form-container input[type="email"],
 .form-container input[type="password"],
 .form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #f80903;
    color: white;
    border: none;
    cursor: pointer;
}

 .form-container button:hover {
    background-color: #f80903;
}

@media only screen and (max-width: 600px) {
    .form-container {
        padding: 10px;
    }

    .form-container input[type="email"],
     .form-container input[type="password"],
     .form-container input[type="text"],
     .form-container button {
        padding: 8px;
        font-size: 14px;
    }
}
