/* Styles pour le conteneur principal */
.reservation_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Styles pour le conteneur intérieur */
.container2 {
    background-color: #1a2642; /* Couleur de fond */
    padding: 20px; /* Espacement intérieur */
    border-radius: 10px; /* Coins arrondis */
    box-shadow:
            0 2px 4px rgba(0, 0, 0, 0.1), /* Ombre principale */
            0 2px 6px rgba(255, 0, 0, 0.7), /* Ombre rouge */
            0 4px 10px rgba(255, 0, 0, 0.8);
    margin-bottom: 20px; /* Marge en bas */
    max-width: 600px; /* Largeur maximale */
}

/* Styles pour le titre */
.titlegaragebox {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    color: white;
}

/* Styles pour le paragraphe d'information */
.info-text {
    font-size: 24px;
    color: whitesmoke;
    margin-bottom: 20px;
}

/* Styles pour le calendrier */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar {
    margin-bottom: 20px;
}

/* Styles pour les étiquettes */
.content2garagebox,
.contentgaragebox {
    font-size: 18px;
    color: white ;
    margin-bottom: 10px;
}

/* Styles pour les champs de saisie */
input[type="time"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Styles pour le bouton de réservation */
.button2 {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.button2:hover {
    background-color: #0056b3;
}

/* Styles pour la grille de boîtes */
.boxes-grid {

    display: flex;
    justify-content: center;
}

.box-image {
    width: 300px;
    height: 150px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.box-image:hover {
    transform: scale(1.1); /* Animation de survol */
}

@media screen and (max-width: 600px) {
    .input2 {
        width: 100%;
        margin-right: 0;
    }

    .button2 {
        width: 100%;
    }
}
