.profil .image-ronde{
    background-size : contain;
    background-position : 50% 50%;
    display : inline-block;
    width : 150px; height : 150px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
}
.profil .about::before {
    background-image :none !important;
}
.profil .btn-container{
    padding-top: 50px;
}
.profil .list{

    color: #f60b0b;
    font-family: var(--ff-chakra-petch);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    line-height: 30px;
    line-height: 30px;
}

.profil .btn {
    display: inline-block;
    background-color: var(--international-orange-engineering);
    color: var(--white);
    width: 150px;
    height: 70px;
    font-family: var(--ff-chakra-petch);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    text-align: center;
    border: 1px solid transparent;
    border-radius: var(--radius-pill);
    transition: var(--transition);
    will-change: transform;
    margin-bottom: 20px;
    /* Centrer le texte verticalement */
    line-height: 40px; /* Hauteur du bouton */
}
