.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-align: center;
    margin-top: 50px;
}

.pane {
    max-width: 340px;
    margin: 20px;
    padding: 50px;
    box-sizing: border-box;
    border: 2px solid #f60b0b;
}
.forgot :hover{
    transform: translateY(-5px);
    background-color: var(--international-orange-engineering);
    border-color: var(--white);
   color: #f0f0f0;
}

/* Style pour les champs de formulaire */
input[type='text'],
input[type='email'],
input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style pour les divs contenant les champs de formulaire */
.password-input {
    position: relative;
}

/* Style pour l'icône de bascule du mot de passe */
.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.separator {
    max-height: 600px;
}

.hero-banner img{
    width: 40% !important;
}

.hero-banner img {
    width: 30%;
}


i:hover {
    color: #00fcb6;
    cursor: pointer;
}
@media (max-width:575px) {
    .separator{
        display: none !important;}

    .content{
        display: flex;
        flex-direction: column;
    }

    .separator2 {
        width: 80%;
    }
}